<div class="row m-4">
	<div class="col-2 list-group">
		<% Question.all.tags_on(:questions).each do |tag| %>
			<%= link_to questions_path(:tag => tag.name), class: "list-group-item list-group-item-action" do %>
				<%= tag.name %> <span class="badge badge-pill badge-warning"><%= Question.all.tagged_with(tag).count %></span>
			<% end %>
		<% end %>
	</div>
	<div class="col-7">
		<main class="">
			<% @questions.each do |question| %>
				<div class="border-top border-bottom p-3 row">
					<div class="col-12 flex justify-content-between align-items-center">
						<h3 class="h5 font-weight-bold"><%= link_to question.subject.truncate(35), question_path(question), class: "text-body link" %></h3>
						<% if question.status_i18n == "受付中" %>
							<p class="font-weight-bold bg-info p-2 m-0 text-light rounded"><%= question.status_i18n %></p>
						<% else %>
							<p class="font-weight-bold bg-secondary p-2 m-0 text-light rounded"><%= question.status_i18n %></p>
						<% end %>
					</div>
					<div class="col-12 mb-2 mt-n1">
						<% question.question_counts.each do |tag| %>
							<span class="badge badge-pill badge-warning mx-1"><%= tag.name %></span>
						<% end %>
					</div>
					<div class="col-12 flex justify-content-between align-items-center">
						<div class="">
							<span class="text-dark mr-2">投稿者：<%= question.user.public_name %></span>
							<span class="text-dark mr-2">コメント数：<%= question.ques_comments.count %></span>
							<span class="text-dark">お気に入り数：<%= question.ques_favorites.count %></span>
						</div>
						<span class="text-dark font-weight-bold">ああああ</span>
					</div>
				</div>
			<% end %>
		</main>
	</div>
	<div class="col-3">
		<table class="table">
			<thead class="bg-warning">
				<tr>
					<th class="text-center text-dark" colspan="2">人気のプロトコール</th>
				</tr>
			</thead>
			<tbody>
				<% i = 1 %>
				<% @rank_questions.first(10).each do |question| %>
					<tr>
						<th class="text-center"><%= i %></th>
						<td><%= question.subject.truncate(15) %></td>
					</tr>
					<% i += 1 %>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="pagination justify-content-center my-4 col-12">
		<%= paginate @questions, class: "" %>
	</div>
</div>
