<div class="max-vw-100 question-subject shadow py-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 d-block d-md-flex justify-content-between">
				<div class="">
					<h3 class="font-weight-bold mb-2 text-light"><%= @question.subject %></h3>
					<div class="mb-2">
						<span class="badge badge-light">
							<i class="fas fa-user"></i> <%= @question.user.public_name %>
						</span>
						<span id="favorites-count" class="badge badge-light">
							<%= render "favorites_count", question: @question %>
						</span>
						<span id="comments-count" class="badge badge-light">
							<%= render "comments_count", question: @question %>
						</span>
					</div>
					<div class="flex align-items-center text-light">
						<p class="mr-4 mb-0">投稿日時：<%= @question.created_at.strftime("%Y/%m/%d %H:%M") %></p>
						<p class="mr-4 mb-0">更新日時：<%= @question.updated_at.strftime("%Y/%m/%d %H:%M") %></p>
					</div>
				</div>
				<div class="d-flex d-md-block">
					<div class="flex justify-content-end mb-1 mr-2">
						<% if user_signed_in? && @question.user_id == current_user.id %>
							<div class="mr-2" id="status">
								<%= render "status", question: @question %>
							</div>
						<% end %>
						<% if user_signed_in? %>
							<div id="favorite">
								<%= render "favorite", question: @question %>
							</div>
						<% end %>
					</div>
					<% if user_signed_in? && @question.user_id == current_user.id %>
						<div class="flex justify-content-end mb-1 mr-2">
							<%= link_to "編集", edit_question_path(@question), class: "btn btn-light mr-2" %>
							<%= link_to "削除", question_path(@question), method: :delete, class: "btn btn-secondary", data: {confirm: "削除しますか？"} %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<% if @question.user == current_user && @question.status == "accepting" %>
			<div class="col-12 mt-4">
			  <div class="alert alert-info text-center">
			  	<p class="m-0">議論が終了したら、右上の <strong> <i class="fas fa-check"></i> </strong>を押して、「終了」しましょう！ </p>
			  </div>
			</div>
		<% end %>
		<div class="col-12">
			<div class="border-bottom py-4">
				<div class="mb-0"><%= simple_format(@question.content) %></div>
			</div>
		</div>
		<div class="col-12" id="comments">
			<%= render "comments", question: @question, ques_comment: @ques_comment %>
		</div>
	</div>
</div>