<% content_for :title do %>
	ホーム
<% end %>

<% if user_signed_in? &&  %>
    <div class="w-100 bg-light">
        <div class="container-fluid mt-4">
            <% if current_user.lab_members.where(joined_at: nil).present? %>
	            <div class="row">
	              <div class="col-12 my-2">
	              	<h3>招待</h3>
	                <% current_user.lab_members.includes([:laboratory]).each do |lab_member| %>
	                  <% if lab_member.joined_at == nil %>
	                    <div class="alert alert-info m-0 d-sm-flex justify-content-between">
	                        <p class="m-0"><%= lab_member.laboratory.name %>に招待されています。</p>
	                        <div>
	                        	<%= link_to "参加する", laboratory_lab_join_path(lab_member.laboratory) %>
	                        	<%= link_to "参加しない", laboratory_lab_unjoin_path(lab_member.laboratory) %>
	                       	</div>
	                    </div>
	                  <% end %>
	                <% end %>
	              </div>
	        	</div>
    	    <% end %>
	    </div>
    </div>
<% end %>

<div class="container-fluid my-4">
	<div class="row">
		<div class="col-12 col-md-9">
			<div class="news overflow-auto mb-4">
				<ul>
					<% @news_lists.each do |news| %>
						<li class="news mb-1">
							<%= link_to news.url do %>
								<%= news.title %>
								<span><%= news.published_at.gsub(/T|Z/){" "} %></span>
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
			<div id="all-contents" class="all-contents">
				<%= render "share/all", questions: @questions, discussions: @discussions, protocols: @protocols %>
			</div>
		</div>
		<div class="d-none d-sm-none d-md-block col-md-3">
			<table class="table">
				<thead class="bg-success">
					<tr>
						<th class="text-center text-light" colspan="2">人気のタグ</th>
					</tr>
				</thead>
				<tbody>
					<%= render "rank_tags", tags: @tags %>
				</tbody>
			</table>
			<table class="table">
				<thead class="bg-warning">
					<tr>
						<th class="text-center text-light" colspan="2">人気の質問</th>
					</tr>
				</thead>
				<tbody>
					<%= render "share/ranking", rank_items: @rank_questions %>
				</tbody>
			</table>
			<table class="table">
				<thead class="bg-info">
					<tr>
						<th class="text-center text-light" colspan="2">人気の議論</th>
					</tr>
				</thead>
				<tbody>
					<%= render "share/ranking", rank_items: @rank_discussions %>
				</tbody>
			</table>
			<table class="table">
				<thead class="bg-danger">
					<tr>
						<th class="text-center text-light" colspan="2">人気のプロトコル</th>
					</tr>
				</thead>
				<tbody>
					<%= render "share/ranking", rank_items: @rank_protocols %>
				</tbody>
			</table>
		</div>
	</div>
</div>