<% content_for :title do %>
	ホーム
<% end %>
<div class="container-fluid my-4">
	<div class="row">
		<div class="col-12 col-md-9">
			<div class="keywords bg-dark mb-4 position-relative">
				<% ActsAsTaggableOn::Tag.all.each do |tag| %>
					<div class="text-light tag position-absolute" style="top:<%= rand(150) %>px;right:<%= rand(800) %>px;font-size:<%= rand(20...30) %>px;"><%= tag.name %></div>
				<% end %>
			</div>
			<div id="all-contents" class="all-contents">
				<%= render "share/all", questions: @questions, discussions: @discussions, protocols: @protocols %>
			</div>
		</div>
		<div class="d-none d-sm-none d-md-block col-md-3">
			<table class="table">
				<thead class="bg-success">
					<tr>
						<th class="text-center text-light" colspan="2">人気のタグ</th>
					</tr>
				</thead>
				<tbody>
					<%= render "rank_tags", tags: @tags %>
				</tbody>
			</table>
			<table class="table">
				<thead class="bg-warning">
					<tr>
						<th class="text-center text-light" colspan="2">人気の質問</th>
					</tr>
				</thead>
				<tbody>
					<%= render "share/ranking", rank_items: @rank_questions %>
				</tbody>
			</table>
			<table class="table">
				<thead class="bg-info">
					<tr>
						<th class="text-center text-light" colspan="2">人気の議論</th>
					</tr>
				</thead>
				<tbody>
					<%= render "share/ranking", rank_items: @rank_discussions %>
				</tbody>
			</table>
			<table class="table">
				<thead class="bg-danger">
					<tr>
						<th class="text-center text-light" colspan="2">人気のプロトコル</th>
					</tr>
				</thead>
				<tbody>
					<%= render "share/ranking", rank_items: @rank_protocols %>
				</tbody>
			</table>
		</div>
	</div>
</div>