<%= form_with(model: resource, local: true, html: { class: "col-12 col-md-8 offset-md-2" }) do |f| %>
	<%= render 'layouts/error_messages', model: f.object %>
	
	<div class="form-group">
		<%= f.label :subject, "題名（内容が分かりやすいもので50文字以内）" %>
		<%= f.text_field :subject, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :content, "内容" %>
		<%= f.text_area :content, class: "form-control vh-100" %>
	</div>
	
	<div class="form-group">
		<div class="row m-0">
		        <% if request.url.include?("discussions") %>
		        	<%= f.label "タグ（複数選択可）", class: "col-12 p-0" %>
	       			<% ["研究・実験","キャリア","研究室運営","研究費","試薬・機器","その他"].each do |tag| %>
		          	<div class="custom-control custom-checkbox col-6 col-md-4 mt-2">
			            <%= f.check_box :discussion_list, {multiple: true, :class => "custom-control-input"}, tag, nil %>
			            <%= f.label "discussion_list_#{tag.downcase}", tag, class: "custom-control-label" %>
			        </div>
			        <% end %>
		        <% elsif request.url.include?("questions") %>
		        	<%= f.label "タグ（複数選択可）", class: "col-12 p-0" %>
	       			<% ["研究・実験","キャリア","研究室運営","研究費","試薬・機器","その他"].each do |tag| %>
					<div class="custom-control custom-checkbox col-6 col-md-4 mt-2">
			            <%= f.check_box :question_list, {multiple: true, :class => "custom-control-input"}, tag, nil %>
			            <%= f.label "question_list_#{tag.downcase}", tag, class: "custom-control-label" %>
			        </div>
			        <% end %>
		        <% elsif request.url.include?("protocols") %>
		        	<%= f.label "タグ（複数選択可）", class: "col-12 p-0" %>
	       			<% ["DNA","RNA","Protein","NGS","LC/MS","ModelOrganism","CellBiology","DevelopmentalBiology","GeneralLabTechnique","Genetics","Genomics","Imaging","Neuroscience","MolecularBiology","Microbiology","Physiology","PlantBiology","Bioinformatics","Statistics","Biochemistry","Immunology","ラボハック"].each do |tag| %>
					<div class="custom-control custom-checkbox col-6 col-md-4 mt-2">
			            <%= f.check_box :protocol_list, {multiple: true, :class => "custom-control-input"}, tag, nil %>
			            <%= f.label "protocol_list_#{tag.downcase}", tag, class: "custom-control-label" %>
			        </div>
			        <% end %>
		        <% end %>
        </div>
    </div>

	<% if request.url.include?("discussions") && resource.created_at.blank? %>
		<div class="form-group text-right">
			<%= f.submit "議論を開始", class: "btn btn-success" %>
		</div>
	<% elsif request.url.include?("discussions") && resource.created_at.present? %>
		<div class="form-group text-right">
			<%= f.submit "議論を編集", class: "btn btn-success" %>
		</div>
	<% elsif request.url.include?("questions") && resource.created_at.blank? %>
		<div class="form-group text-right">
			<%= f.submit "質問を投稿", class: "btn btn-success" %>
		</div>
	<% elsif request.url.include?("questions") && resource.created_at.present? %>
		<div class="form-group text-right">
			<%= f.submit "質問を編集", class: "btn btn-success" %>
		</div>
	<% elsif request.url.include?("protocols") && resource.created_at.blank? %>
		<div class="form-group text-right">
			<%= f.submit "プロトコルを共有", class: "btn btn-success" %>
		</div>
	<% elsif request.url.include?("protocols") && resource.created_at.present? %>
		<div class="form-group text-right">
			<%= f.submit "プロトコルを編集", class: "btn btn-success" %>
		</div>
	<% end %>

<% end %>