<% if protocols == [] %>
	<div class="alert alert-danger my-4" role="alert">
	  該当のプロトコルはありません。
	</div>
<% else %>
	<% protocols.each do |protocol| %>
		<div class="border-bottom py-3">
			<h3 class="col-12 h5 mb-2 font-weight-bold">
				<%= link_to protocol.subject.truncate(30), protocol_path(protocol), class: "text-body link" %>
			</h3>
			<div class="col-12 mb-2">
				<% protocol.protocols.each do |tag| %>
					<span class="badge badge-pill badge-danger mx-1"><%= tag.name %></span>
				<% end %>
			</div>
			<div class="col-12">
				<span class="text-dark">
					<i class="fas fa-user"></i> <%= protocol.user.public_name %>
				</span>
				<span class="text-dark">
					<i class="fas fa-heart"></i> <%= protocol.protocol_favorites.select {|favorite| favorite}.size %>
				</span>
			</div>
		</div>
	<% end %>
	<% if request.url != "http://localhost:3000/home" %>
		<div class="flex justify-content-center mt-4">
			<%= paginate protocols, remote: true, param_name: :protocol_page %>
		</div>
	<% else %>
		<div class="text-right mt-4">
			<%= link_to "もっとみる", questions_path, class: "" %>
		</div>
	<% end %>
<% end %>