		<div class="col-4">
			<div class="d-flex justify-content-center align-items-center">
				<%= link_to "質問へ", questions_path, class: "text-warning font-weight-bold" %>
				<%= link_to "質問をしてみる", new_question_path, class: "btn btn-warning ml-2 d-none d-md-block d-lg-block" %>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex justify-content-center align-items-center">
				<%= link_to "議論へ", discussions_path, class: "text-info font-weight-bold" %>
				<%= link_to "議論を始める", new_discussion_path, class: "btn btn-info ml-2 d-none d-md-block d-lg-block" %>
			</div>
		</div>
		<div class="col-4">
			<div class="d-flex justify-content-center align-items-center">
				<%= link_to "プロトコールへ", protocols_path, class: "text-danger font-weight-bold" %>
				<%= link_to "共有してみる", new_protocol_path, class: "btn btn-danger ml-2 d-none d-md-block d-lg-block" %>
			</div>
		</div>