<% if request.url != "http://localhost:3000/" %>
	<div class="w-100 bg-light py-2 border-bottom">
	    <div class="container">
			<div class="d-flex justify-content-between">
				<div class="flex align-items-center">
					<%= link_to "質問へ", questions_path, class: "d-none d-sm-none d-md-block text-warning font-weight-bold mr-2" %>
					<%= link_to "質問をする", new_question_path, class: "btn btn-warning btn-sm" %>
				</div>
				<div class="flex align-items-center">
					<%= link_to "議論へ", discussions_path, class: "d-none d-sm-none d-md-block text-info font-weight-bold mr-2" %>
					<%= link_to "議論を始める", new_discussion_path, class: "btn btn-info btn-sm" %>
				</div>
				<div class="flex align-items-center">
					<%= link_to "プロトコールへ", protocols_path, class: "d-none d-sm-none d-md-block text-danger font-weight-bold mr-2" %>
					<%= link_to "共有する", new_protocol_path, class: "btn btn-danger btn-sm" %>
				</div>
			</div>
		</div>
	</div>
<% end %>