<div class="row m-4 border-bottom">
<%= form_with(model: discuss_comment, url: discussion_discuss_comments_path(discussion), html: { class: "col-12" }) do |f| %>

		<div class="form-group">
			<%= f.text_area :content, class: "form-control" %>
		</div>

		<div class="form-group text-right">
			<%= f.submit "コメント", class: "btn btn-success" %>
		</div>

	<% end %>
</div>
	<% discussion.discuss_comments.order(created_at: "DESC").each do |comment| %>
		<div class="m-4 border-bottom">
			<div class="flex justify-content-between mb-4">
				<div class="flex align-items-center">
					<%= attachment_image_tag(comment.user, :image, :fill, 50, 50, fallback: "no-image-mini.jpg", class: "rounded-circle mr-4 align-bottom", size: "50x50") %>
					<p class="m-0 mr-4 font-weight-bold text-dark"><%= comment.user.public_name %></p>
					<p class="m-0 font-weight-bold text-dark"><%= comment.created_at %></p>
				</div>
				<div>
					<%= link_to "削除", discussion_discuss_comment_path(discussion,comment), method: :delete, remote: true, class: "btn btn-danger" %>
				</div>
			</div>
			<p class="mb-4"><%= comment.content %></p>
		</div>
	<% end %>