<div class="row m-4">
	<div class="col-2 list-group">
		<% Discussion.all.tags_on(:discussions).each do |tag| %>
			<%= link_to discussions_path(:tag => tag.name), class: "list-group-item list-group-item-action" do %>
				<%= tag.name %> <span class="badge badge-pill badge-info"><%= Discussion.all.tagged_with(tag).count %></span>
			<% end %>
		<% end %>
	</div>
	<div class="col-7">
		<main class="">
			<%= render "share/discussions", discussions: @discussions %>
		</main>
	</div>
	<div class="col-3">
		<table class="table">
			<thead class="bg-info">
				<tr>
					<th class="text-center text-light" colspan="2">人気の議論</th>
				</tr>
			</thead>
			<tbody>
				<%= render "share/ranking", rank_items: @rank_discussions %>
			</tbody>
		</table>
	</div>
	<div class="pagination justify-content-center my-4 col-12">
		<%= paginate @discussions, class: "" %>
	</div>
</div>
