<div class="row m-4">
	<div class="col-2 list-group">

		<% @tags.each do |tag| %>
			<% if params[:tag] == tag.name %>
				<%= link_to discussions_path(:tag => tag.name), class: "list-group-item list-group-item-action active" do %>
					<%= tag.name %> <span class="badge badge-pill badge-info"><%= Discussion.tagged_with(tag).select {|tag| tag}.size %></span>
				<% end %>
			<% else %>
				<%= link_to discussions_path(:tag => tag.name), class: "list-group-item list-group-item-action" do %>
					<%= tag.name %> <span class="badge badge-pill badge-info"><%= Discussion.tagged_with(tag).select {|tag| tag}.size %></span>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="col-7">
		<main class="">
			<div id="discussions">
				<%= render "share/discussions", discussions: @discussions %>
			</div>
		</main>
	</div>
	<div class="col-3">
		<table class="table">
			<thead class="bg-info">
				<tr>
					<th class="text-center text-light" colspan="2">人気の議論</th>
				</tr>
			</thead>
			<tbody>
				<%= render "share/ranking", rank_items: @rank_discussions %>
			</tbody>
		</table>
	</div>
</div>
