<div class="max-vw-100 discussion-subject shadow">
	<div class="flex justify-content-between px-4 pt-3 pb-1">
		<div class="">
			<h3 class="font-weight-bold text-light"><%= @discussion.subject %></h3>
			<span id="favorites-count" class="badge badge-light"><%= render "favorites_count", discussion: @discussion %></span>
			<span id="comments-count" class="badge badge-light"><%= render "comments_count", discussion: @discussion %></span>
		</div>
		<div class="flex">
			<div id="status">
				<%= render "status", discussion: @discussion %>
			</div>
			<div id="favorite">
				<%= render "favorite", discussion: @discussion %>
			</div>
		</div>
	</div>
	<div class="flex justify-content-between px-4 pb-3">
		<div class="flex align-items-center text-light">
			<p class="mr-4 mb-0">投稿者：<%= @discussion.user.public_name %></p>
			<p class="mr-4 mb-0">投稿日時：<%= @discussion.created_at %></p>
			<p class="mr-4 mb-0">更新日時：<%= @discussion.updated_at %></p>
		</div>
		<div>
			<%= link_to "編集", edit_discussion_path(@discussion), class: "btn btn-light" %>
			<%= link_to "削除", discussion_path(@discussion), method: :delete, class: "btn btn-secondary", data: {confirm: "削除しますか？"} %>
		</div>
	</div>
</div>
<% if @discussion.user == current_user && @discussion.status == "active" %>
	<div class="alert alert-info m-4 text-center">
	  <p class="m-0">議論が終了したら、右上の <strong>”「終了」”にするボタン</strong>を押して、「終了」にしましょう！ </p>
	</div>
<% end %>
<div class="row m-4 pb-4 border-bottom">
	<%= @discussion.content %>
</div>
	<div id="comments"><%= render "comments", discussion: @discussion, discuss_comment: @discuss_comment %></div>
</div>