<div class="modal-header">
	<h5 class="modal-title" id="exampleModalCenterTitle">予定の新規登録</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<%= form_with(model: event, url: laboratory_events_path(laboratory), method: :post) do |f| %>
		<%= render 'layouts/error_messages', model: f.object %>
		<div class="form-group">
		   	<div class="input-group datetime" id="start" data-target-input="nearest">
			    <%= f.text_field :start, class: "form-control datepicker", data: { target: '#start' }, placeholder: "開始時刻" %>
			    <div class="input-group-append" data-target="#start" data-toggle="datetimepicker">
			        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group datetime" id="end" data-target-input="nearest">
			    <%= f.text_field :end, class: "form-control datepicker", data: { target: '#end'}, placeholder: "終了時刻" %>
			    <div class="input-group-append" data-target="#end" data-toggle="datetimepicker">
			        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<%= f.text_field :title, class: "form-control", placeholder: "予定を入力" %>
		</div>
		<%= f.submit "予定を作成", class: "btn btn-success" %>
	<% end %>
</div>