<% content_for :title do %>
  ラボ情報
<% end %>
<div class="container-fluid my-4">
  <div class="row">
    <div class="col-12 col-md-3 mb-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-info-list" data-toggle="list" href="#list-info" role="tab" aria-controls="info">ラボラトリー</a>
        <a class="list-group-item list-group-item-action" id="list-edit-list" data-toggle="list" href="#list-edit" role="tab" aria-controls="edit">メンバー</a>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-info" role="tabpanel" aria-labelledby="list-info-list">
          <div id="lab-edit-form">
            <%= render "laboratories/lab_edit_form", laboratory: @laboratory %>
          </div>
        </div>
        <div class="tab-pane fade" id="list-edit" role="tabpanel" aria-labelledby="list-edit-list">
          <% if @lab_members.find_by(user_id: current_user.id).status == "admin" || @lab_members.find_by(user_id: current_user.id).status == "subadmin" %>
            <%= form_with(url: laboratory_lab_members_path(@laboratory)) do |f| %>
    
              <div class="form-group">
                <%= f.label :email, "メールアドレス" %>
                <%= f.email_field :email, class: "form-control" %>
              </div>
    
              <div class="form-group text-right">
                <%= f.submit "登録する", class: "btn btn-success" %>
              </div>
    
            <% end %>
          <% else %>
            <%= form_with(url: laboratory_lab_members_path(@laboratory)) do |f| %>

              <fieldset disabled>
    
                <div class="form-group">
                  <%= f.label :email, "メールアドレス" %>
                  <%= f.text_field :email, class: "form-control" %>
                </div>
      
                <div class="form-group text-right">
                  <%= f.submit "登録する", class: "btn btn-success" %>
                </div>

              </fieldset>
    
            <% end %>
          <% end %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>名前</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
                <th>ステータス変更・削除</th>
              </tr>
            </thead>
            <tbody id="lab-members">
              <%= render "laboratories/lab_members", lab_members: @lab_members %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>