<div class="container-fluid my-4">
	<div class="row">
		<div class="col-12 col-lg-6 mb-4">
			<div id="calendar"></div>
			<div class="text-right w-100 mt-2">
				<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-event">
				  予定を登録
				</button>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th colspan="4">ラボタスク</th>
					</tr>
				</thead>
				<tbody id="tasks" class="border-bottom">
					<%= render "laboratories/tasks", lab_tasks: @lab_tasks %>
				</tbody>
			</table>
			<div id="task-form">
				<%= render "laboratories/task_form", lab_task: @lab_task, laboratory: @laboratory %>
			</div>
		</div>
		<div class="col-12">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th class="align-middle" colspan="2">お知らせ</th>
						<th class="text-right" colspan="2"><%= link_to "お知らせを投稿", new_laboratory_lab_information_path(@laboratory), class: "btn btn-info btn-sm" %></th>
					</tr>
				</thead>
				<tbody class="">
					<% @laboratory.lab_informations.includes([:user], [:lab_information_comments], [:lab_information_checks]).order(created_at: "DESC").take(10).each do |information| %>
						<tr>
							<td>
								<%= link_to laboratory_lab_information_path(@laboratory,information) ,class: "font-weight-bold text-body link" do %>
									<%= information.subject %>
								<% end %>
							</td>
							<td>
								<div class="">
									<span class="badge badge-info"><i class="fas fa-check"></i> <%= information.lab_information_checks.select {|check| check}.size %></span>
									<span class="badge badge-success"><i class="fas fa-comment"></i> <%= information.lab_information_comments.select {|comment| comment}.size %></span>
								</div>
							</td>
							<td><i class="fas fa-user"></i> <%= information.user.private_name %></td>
							<td class="text-right">
								<i class="fas fa-clock"></i> 
								<%= information.created_at.strftime("%Y/%m/%d %H:%M") %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="w-100 text-right">
				<%= link_to "過去分を確認", laboratory_lab_informations_path(@laboratory) %>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->

<div id="event-modals">
	<%= render "laboratories/event_modals", events: @events %>
</div>

<div class="modal fade" id="new-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="newevent" class="modal-content">
      <%= render "laboratories/new_event", event: @event, laboratory: @laboratory %>
    </div>
  </div>
</div>
