<% content_for :title do %>
	<%= @laboratory.name %>
<% end %>
<div class="container-fluid my-4">
	<div class="row">
		<div class="col-12 col-lg-6 mb-4">
			<div id="calendar"></div>
			<div class="text-right w-100 mt-2">
				<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-event">
				  予定を登録
				</button>
			</div>
		</div>

		<div class="col-12 col-lg-6 mb-4">
			<div class="col-12 bg-dark py-2">
				<div class="bg-dark text-light flex justify-content-between align-items-center">
					<h3 class="h6 m-0">ラボタスク</h3>
				</div>
			</div>

			<div id="tasks">
				<%= render "laboratories/tasks", lab_tasks: @lab_tasks %>
			</div>
			<div class="w-100 text-right mt-4" id="task-form">
				<%= render "laboratories/task_form", lab_task: @lab_task, laboratory: @laboratory %>
			</div>
		</div>

		<div class="col-12">
			<div class="col-12 bg-dark py-2">
				<div class="bg-dark text-light flex justify-content-between align-items-center">
					<h3 class="h6 m-0">お知らせ</h3>
					<%= link_to "お知らせを投稿", new_laboratory_lab_information_path(@laboratory), class: "btn btn-info btn-sm" %>
				</div>
			</div>

			<% @laboratory.lab_informations.includes(
				:user, :lab_information_comments, :lab_information_checks
				).order(created_at: "DESC").take(10).each do |information| %>

				<div class="col-12 border-bottom">
					<div class="w-100 d-md-flex justify-content-between align-items-center py-2">
						<%= link_to information.subject, laboratory_lab_information_path(@laboratory,information) ,class: "font-weight-bold text-body link w-50" %>
						<div class="">
							<span class="badge badge-info"><i class="fas fa-check"></i> <%= information.lab_information_checks.select {|item| item}.size %></span>
							<span class="badge badge-success"><i class="fas fa-comment"></i> <%= information.lab_information_comments.select {|item| item}.size %></span>
						</div>
						<p class="m-0"><i class="fas fa-user"></i> <%= information.user.private_name %></p>
						<p class="m-0"><i class="fas fa-clock"></i> <%= information.create_time %></p>
					</div>
				</div>

			<% end %>
			<div class="col-12 text-right mt-2">
				<%= link_to "過去分を確認", laboratory_lab_informations_path(@laboratory) %>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->

<div id="event-modals">
	<%= render "laboratories/event_modals", events: @events %>
</div>

<div class="modal fade" id="new-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="newevent" class="modal-content">
      <%= render "laboratories/new_event", event: @event, laboratory: @laboratory %>
    </div>
  </div>
</div>
