<div class="max-vw-100 mt-n4 bg-light shadow-sm border-top">
	<h2 class="h3 p-3"><%= @laboratory.name %></h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 my-4">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th class="align-middle" colspan="2">お知らせ一覧</th>
						<th class="text-right" colspan="2"><%= link_to "お知らせを投稿", new_laboratory_lab_information_path(@laboratory), class: "btn btn-info btn-sm" %></th>
					</tr>
				</thead>
				<tbody class="border-bottom">
					<% @lab_informations.each do |information| %>
						<tr>
							<td>
								<%= link_to laboratory_lab_information_path(@laboratory,information) ,class: "font-weight-bold text-body link" do %>
									<%= information.subject %>
								<% end %>
							</td>
							<td>
								<div class="">
									<span class="badge badge-info">確認済み：<%= information.lab_information_checks.count %></span>
									<span class="badge badge-success">コメント数：<%= information.lab_information_comments.count %></span>
								</div>
							</td>
							<td>投稿者：<%= information.user.private_name %></td>
							<td class="text-right"><%= information.updated_at %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="pagination justify-content-center mt-4 col-12">
				<%= paginate @lab_informations, class: "" %>
			</div>
		</div>
	</div>
</div>