<div class="max-vw-100 bg-light shadow-sm border-top">
	<h2 class="h3 p-3"><%= @laboratory.name %> > <%= @lab_information.subject %></h2>
</div>
<div class="max-vw-100 mt-n4 bg-dark shadow text-light">
	<div class="flex justify-content-between px-4 pt-3 pb-1">
		<div class="">
			<h3 class="font-weight-bold"><%= @lab_information.subject %></h3>
			<span id="checks-comment" class="badge badge-light">
				<%= render "lab_informations/checks_count", lab_information: @lab_information %>
			</span>
			<span id="comments-count" class="badge badge-light">
				<%= render "lab_informations/comments_count", lab_information: @lab_information %>
			</span>
		</div>
	</div>
	<div class="flex justify-content-between px-4 pb-3">
		<div class="flex align-items-center">
			<p class="mr-4 mb-0">投稿者：<%= @lab_information.user.public_name %></p>
			<p class="mr-4 mb-0">投稿日時：<%= @lab_information.created_at %></p>
		</div>
		<div>
			<%= link_to "削除", laboratory_lab_information_path(@laboratory,@lab_information), method: :delete, class: "btn btn-secondary", data: {confirm: "削除しますか？"} %>
		</div>
	</div>
</div>

<div class="container">
<div class="row my-4 pb-4 border-bottom">
	<p class="col-12"><%= @lab_information.content %></p>
	<div class="col-12 flex align-items-center justify-content-between">
		<p class="mb-0 mr-2 font-weight-bold">内容の理解・確認できた場合、右の <i class="fas fa-check text-success"></i> をクリックして、確認済みにしましょう！</p>
		<div id="check">
			<%= render "lab_informations/check", laboratory: @laboratory, lab_information: @lab_information  %>
		</div>
	</div>
</div>
<div id="comments">
		<%= render "lab_informations/comments", comment: @comment, laboratory: @laboratory, lab_information: @lab_information %>
</div>>
</div>
</div>