<div class="max-vw-100 bg-light shadow-sm border-top">
	<h2 class="h3 p-3"><%= @laboratory.name %> > <%= @lab_information.subject %></h2>
</div>
<div class="max-vw-100 mt-n4 bg-dark shadow text-light">
	<div class="flex justify-content-between px-4 pt-3 pb-1">
		<div class="">
			<h3 class="font-weight-bold"><%= @lab_information.subject %></h3>
			<span class="badge badge-light">確認済み：<%= @lab_information.lab_information_checks.count %></span>
			<span class="badge badge-light">コメント数：<%= @lab_information.lab_information_comments.count %></span>
		</div>
	</div>
	<div class="flex justify-content-between px-4 pb-3">
		<div class="flex align-items-center">
			<p class="mr-4 mb-0">投稿者：<%= @lab_information.user.public_name %></p>
			<p class="mr-4 mb-0">投稿日時：<%= @lab_information.created_at %></p>
		</div>
		<div>
			<%= link_to "削除", laboratory_lab_information_path(@laboratory,@lab_information), method: :delete, class: "btn btn-secondary", data: {confirm: "削除しますか？"} %>
		</div>
	</div>
</div>

<div class="container">
<div class="row my-4 pb-4 border-bottom">
	<p class="col-12"><%= @lab_information.content %></p>
	<div class="col-12 flex align-items-center justify-content-between">
		<p class="mb-0 mr-2 font-weight-bold">内容の理解・確認できた場合、右の <i class="fas fa-check text-success"></i> をクリックして、確認済みにしましょう！</p>
		<% if @lab_information.checked_by?(current_user) %>
			<%= link_to laboratory_lab_information_lab_information_checks_path(@laboratory,@lab_information), method: :delete, class: "btn btn-secondary" do %>
				<i class="fas fa-check"></i>
			<% end %>
		<% else %>
			<%= link_to laboratory_lab_information_lab_information_checks_path(@laboratory,@lab_information), method: :post, class: "btn btn-success" do %>
				<i class="fas fa-check"></i>
			<% end %>
		<% end %>
	</div>
</div>
<div class="row border-bottom">
	<%= form_with(model: @comment, url: laboratory_lab_information_lab_information_comments_path(@laboratory,@lab_information), local: true, html: { class: "col-12" }) do |f| %>

		<div class="form-group">
			<%= f.text_area :content, class: "form-control" %>
		</div>

		<div class="form-group text-right">
			<%= f.submit "コメント", class: "btn btn-success" %>
		</div>

	<% end %>
</div>
	<% @lab_information.lab_information_comments.each do |comment| %>
		<div class="my-4 border-bottom">
			<div class="flex justify-content-between mb-4">
				<div class="flex align-items-center">
					<%= attachment_image_tag(comment.user, :image, :fill, 50, 50, fallback: "no-image-mini.jpg", class: "rounded-circle mr-4 align-bottom", size: "50x50") %>
					<p class="m-0 mr-4 font-weight-bold text-dark"><%= comment.user.private_name %></p>
					<p class="m-0 font-weight-bold text-dark"><%= comment.created_at %></p>
				</div>
				<div>
					<%= link_to "削除", laboratory_lab_information_lab_information_comment_path(@laboratory,@lab_information,comment), method: :delete, class: "btn btn-danger" %>
				</div>
			</div>
			<p class="mb-4"><%= comment.content %></p>
		</div>
	<% end %>
</div>
</div>