<div class="max-vw-100 protocol-subject shadow">
	<div class="flex justify-content-between px-4 pt-3 pb-1">
		<div class="">
			<h3 class="font-weight-bold text-light"><%= @protocol.subject %></h3>
			<span id="favorites-count" class="badge badge-light">
				<%= render "protocols/favorites_count", protocol: @protocol %>
			</span>
		</div>
		<div id="favorite">
			<%= render "protocols/favorite", protocol: @protocol %>
		</div>
	</div>
	<div class="flex justify-content-between px-4 pb-3">
		<div class="flex align-items-center text-light">
			<p class="mr-4 mb-0">投稿者：<%= @protocol.user.public_name %></p>
			<p class="mr-4 mb-0">投稿日時：<%= @protocol.created_at %></p>
			<p class="mr-4 mb-0">更新日時：<%= @protocol.updated_at %></p>
		</div>
		<div>
			<%= link_to "編集", edit_protocol_path(@protocol), class: "btn btn-light" %>
			<%= link_to "削除", protocol_path(@protocol), method: :delete, class: "btn btn-secondary", data: {confirm: "削除しますか？"} %>
		</div>
	</div>
</div>
<div class="row m-4">
	<%= @protocol.content %>
</div>