<div class="max-vw-100 protocol-subject shadow">
	<div class="flex justify-content-between px-4 pt-3 pb-1">
		<div class="">
			<h3 class="font-weight-bold"><%= @protocol.subject %></h3>
			<span class="badge badge-light">お気に入り数：<%= @protocol.protocol_favorites.count %></span>
		</div>
		<div>
			<% if @protocol.favorited_by?(current_user) %>
				<%= link_to protocol_protocol_favorites_path(@protocol), method: :delete, class: "btn btn-light" do %>
					<i class="fas fa-heart text-danger"></i>
				<% end %>
			<% else %>
				<%= link_to protocol_protocol_favorites_path(@protocol), method: :post, class: "btn btn-light" do %>
					<i class="far fa-heart"></i>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="flex justify-content-between px-4 pb-3">
		<div class="flex align-items-center">
			<p class="mr-4 mb-0">投稿者：<%= @protocol.user.public_name %></p>
			<p class="mr-4 mb-0">投稿日時：<%= @protocol.created_at %></p>
			<p class="mr-4 mb-0">更新日時：<%= @protocol.updated_at %></p>
		</div>
		<div>
			<%= link_to "編集", edit_protocol_path(@protocol), class: "btn btn-success" %>
			<%= link_to "削除", protocol_path(@protocol), method: :delete, class: "btn btn-secondary", data: {confirm: "削除しますか？"} %>
		</div>
	</div>
</div>
<div class="row m-4">
	<%= @protocol.content %>
</div>