<!DOCTYPE html>
<html>
  <head>
    <title>OpenResearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application-print", :media => "print" %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      
      <% if user_signed_in? %>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <%= link_to "OpenResearch", home_path, class: "navbar-brand font-weight-bold mr-4" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-4">
              <%= link_to "お気に入り", favorites_path, class: "nav-link font-weight-bold" %>
            </li>
            <li class="nav-item dropdown mr-4">
              <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ラボ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <%= link_to "新しくラボを作る", new_laboratory_path, class: "dropdown-item" %>
                <% current_user.lab_members.each do |lab_member| %>
                  <% Laboratory.where(id: lab_member.laboratory_id).each do |lab| %>
                   <%= link_to lab.name, laboratory_path(lab), class: "dropdown-item" %>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li class="nav-item dropdown mr-4">
              <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                アカウント
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <%= link_to "会員情報", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "お問い合わせ", new_contact_path, class: "nav-link font-weight-bold" %>
            </li>
          </ul>
          <%= form_with(url: search_path, method: :get, local: true, html: { class: "form-inline my-2 my-lg-0" }) do |f| %>
            <%= f.text_field :q, class: "form-control mr-sm-2", placeholder: "検索" %>
            <%= f.submit "検索", class: "btn btn-success" %>
          <% end %>
        </div>
      </nav>

      <% else %>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <%= link_to "OpenResearch", home_path, class: "navbar-brand font-weight-bold" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "ホーム", home_path, class: "nav-link font-weight-bold" %>
            </li>
            <li class="nav-item">
              <%= link_to "サイトについて", about_path, class: "nav-link font-weight-bold" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "お問い合わせ", new_contact_path, class: "nav-link font-weight-bold" %>
            </li>
          </ul>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-warning mr-2" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info mr-2" %>
          <%= form_with(url: search_path, method: :get, local: true, html: { class: "form-inline my-2 my-lg-0" }) do |f| %>
            <%= f.text_field :q, class: "form-control mr-sm-2", placeholder: "検索" %>
            <%= f.submit "検索", class: "btn btn-success" %>
          <% end %>
        </div>
      </nav>

      <% end %>

    </header>
    
    <%= render "share/subheader" %>

    <% if request.url.include?("laboratories") && request.url.exclude?("laboratories/new") %>
      <div class="max-vw-100 bg-dark shadow text-light d-block d-md-flex justify-content-between align-items-center border-bottom">
        <h2 class="h4 py-2 m-0">
          <%= link_to laboratory_path(@laboratory), class: "nav-link" do %>
            <%= @laboratory.name %>
          <% end %>
        </h2>
        <div class="mr-2 flex">
          <%= link_to "お知らせ一覧", laboratory_lab_informations_path(@laboratory), class: "nav-link" %>
          <%= link_to "ラボ情報編集", edit_laboratory_path(@laboratory), class: "nav-link" %>
        </div>
      </div>
    <% end %>

    <div class="w-100">
      <div class="container-fluid">
        <div class="row">
          <% if request.url.include?("protocols") %>
            <% if @protocol.nil? %>
              <div class="w-100 protocol-subject shadow text-light d-block d-md-flex justify-content-between align-items-center py-2">
                <h2 class="h4 mb-0 mx-3 bg-danger">
                  <%= link_to "Protocols", protocols_path, class: "nav-link" %>
                </h2>
                <div class="search mx-3">
                  <%= search_form_for @q, url: protocols_path, html: { class: "flex" } do |f| %>
                    <%= f.search_field :subject_or_content_cont_any, class: "form-control mr-1", placeholder: "プロトコルの検索" %>
                    <%= f.submit "検索", class: "btn btn-secondary" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% elsif request.url.include?("discussions") %>
            <% if @discussion.nil? %>
              <div class="w-100 discussion-subject shadow text-light d-block d-md-flex justify-content-between align-items-center py-2">
                <h2 class="h4 mb-0 mx-3 bg-info">
                  <%= link_to "Discussions", discussions_path, class: "nav-link" %>
                </h2>
                <div class="search mx-3">
                  <%= search_form_for @q, url: discussions_path, html: { class: "flex" } do |f| %>
                    <%= f.search_field :subject_or_content_cont_any, class: "form-control mr-1", placeholder: "議論の検索" %>
                    <%= f.submit "検索", class: "btn btn-secondary" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% elsif request.url.include?("questions") %>
            <% if @question.nil? %>
              <div class="w-100 question-subject shadow text-light d-block d-md-flex justify-content-between align-items-center py-2">
                <h2 class="h4 mb-0 mx-3 bg-warning">
                  <%= link_to "Questions", questions_path, class: "nav-link" %>
                </h2>
                <div class="search mx-3">
                  <%= search_form_for @q, url: questions_path, html: { class: "flex" } do |f| %>
                    <%= f.search_field :subject_or_content_cont_any, class: "form-control mr-1", placeholder: "質問の検索" %>
                    <%= f.submit "検索", class: "btn btn-secondary" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="w-100 bg-light">
      <div class="container-fluid">
        <% if flash[:notice] || flash[:alert] %>
          <div class="row">
            <div class="col-12 mt-3">
              <% if flash[:notice] %>
                <div class="alert alert-success">
                  <p class="success m-0"><%= flash[:notice] %></p>
                </div>
              <% end %>
              <% if flash[:alert] %>
                <div class="alert alert-danger">
                  <p class="alert m-0"><%= flash[:alert] %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

      <div class="min-vh">
        <%= yield %>
      </div>

    <% if request.url != "http://localhost:3000/" %>
      <footer class="bg-secondary py-4">
        <p class="text-white text-center m-0">OpenResearch</p>
      </footer>
    <% end %>

  </body>
</html>
