<!DOCTYPE html>
<html>
  <head>
    <title>OpenResearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application-print", :media => "print" %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      
      <% if user_signed_in? %>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <%= link_to "OpenResearch", home_path, class: "navbar-brand font-weight-bold mr-4" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-4">
              <%= link_to "お気に入り", favorites_path, class: "nav-link font-weight-bold" %>
            </li>
            <li class="nav-item dropdown mr-4">
              <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ラボ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <%= link_to "新しくラボを作る", new_laboratory_path, class: "dropdown-item" %>
                <% current_user.laboratory.each do |lab| %>
                  <% labo = Laboratory.find(lab.id) %>
                  <%= link_to labo.name, laboratory_path(labo), class: "dropdown-item" %>
                <% end %>
                <% current_user.lab_members.each do |lab| %>
                  <% labo = Laboratory.find(lab.laboratory_id) %>
                  <%= link_to labo.name, laboratory_path(labo), class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
            <li class="nav-item dropdown mr-4">
              <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                プロジェクト
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <% current_user.project_members.each do |pro| %>
                  <% project = Project.find(pro.project_id) %>
                  <%= link_to project.name, laboratory_project_path(:laboratory_id => project.laboratory_id, :id => project.id), class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
            <li class="nav-item dropdown mr-4">
              <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                アカウント
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <%= link_to "会員情報", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
          <%= form_with(url: search_path, method: :get, local: true, html: { class: "form-inline my-2 my-lg-0" }) do |f| %>
            <%= f.text_field :q, class: "form-control mr-sm-2", placeholder: "検索" %>
            <%= f.submit "検索", class: "btn btn-success" %>
          <% end %>
        </div>
      </nav>

      <% else %>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <%= link_to "OpenResearch", home_path, class: "navbar-brand font-weight-bold" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "ホーム", home_path, class: "nav-link font-weight-bold" %>
            </li>
            <li class="nav-item">
              <%= link_to "サイトについて", about_path, class: "nav-link font-weight-bold" %>
            </li>
          </ul>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-warning mr-2" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info mr-2" %>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <% end %>

    </header>
    
    <% if request.url != "http://localhost:3000/" %>
      <div class="container-fluid">
        <div class="row py-2 shadow-sm bg-light">
          <%= render "share/subheader" %>
        </div>
      </div>
    <% end %>

    <div class="container-fluid min-vh">
      <div class="row d-block">
        <% if request.url.include?("protocols") %>
          <% if @protocol.nil? %>
            <div class="max-vw-100 protocol-subject shadow text-light flex justify-content-between align-items-center">
              <h2 class="h3 p-3 m-0">Protocols</h2>
              <div class="search px-3">
                <%= search_form_for @q, url: protocols_path, html: { class: "flex" } do |f| %>
                  <%= f.search_field :subject_or_content_cont_any, class: "form-control mr-1", placeholder: "プロトコルの検索" %>
                  <%= f.submit "検索", class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% elsif request.url.include?("discussions") %>
          <% if @discussion.nil? %>
            <div class="max-vw-100 discussion-subject shadow text-light flex justify-content-between align-items-center">
              <h2 class="h3 p-3 m-0">Discussions</h2>
              <div class="search px-3">
                <%= search_form_for @q, url: discussions_path, html: { class: "flex" } do |f| %>
                  <%= f.search_field :subject_or_content_cont_any, class: "form-control mr-1", placeholder: "議論の検索" %>
                  <%= f.submit "検索", class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% elsif request.url.include?("questions") %>
          <% if @question.nil? %>
            <div class="max-vw-100 question-subject shadow text-light flex justify-content-between align-items-center">
              <h2 class="h3 p-3 m-0">Questions</h2>
              <div class="search px-3">
                <%= search_form_for @q, url: questions_path, html: { class: "flex" } do |f| %>
                  <%= f.search_field :subject_or_content_cont_any, class: "form-control mr-1", placeholder: "質問の検索" %>
                  <%= f.submit "検索", class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= yield %>

      </div>
    </div>
    <% if request.url != "http://localhost:3000/" %>
      <footer class="bg-secondary py-4">
        <p class="text-white text-center m-0">OpenResearch</p>
      </footer>
    <% end %>

  </body>
</html>
